
.tab-panel {
    padding: 4px 20px;
    color: #a0a0a0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    z-index: 100;
}

@media screen and (min-width: 768px) {
    .tab-panel {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .tab-panel {
        font-size: 18px;
    }
}


.tab-panel:hover {
    color: #5d5d5d;
}

.tab-panel-active {
    left: 0;
    cursor: default;
    color: white !important;
}

.tab-panel-active {
    left: 0;
    cursor: default;
    color: white !important;
}
