.save-pokemon-container {
    padding: 20px 15px;
}

button {
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: #fdba10;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}