body {
  margin: 0;
  line-height: 1.5715;
  background-color: #2e2d3c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: left;
  color: white !important;
}

.app-content-container {
  margin-top: 100px;
}